/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
  font-family: 'Quicksand', sans-serif;
}

.gradiant {
  background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
}


 h1, h2, form, .result-area {
   width: 50%;
   margin: auto;
   border-radius: 20px;
   text-align: center;
 }

 button {
   background-color: #134d71;
   color: white;
   border-radius: 5px;
   border: none;
   padding: 8px;
   width: 160px;
   height: 30px;
 }

 form, .result-area {
   background-color: white;
 }

 form {
   padding: 50px;
 }

 h1 {
   vertical-align: middle;
   padding-bottom: 30px;
   color: white;
 }

 h2 {
   height: 30px;
   color: white;
 }

 .space {
   padding: 50px;
 }

 .space2 {
   padding: 75px;
 }

 .result-area {
   padding: 60px;
   width: 70%
 }

 input[type = "radio"] {
   margin: 0 10px 0 50px;
 }
