/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
  border: 1px solid red;
}


 h1, h2, form, .result-area {
   text-align: center;
   padding: 50px;
   width: 50%;
   margin: auto;
   border-radius: 20px;
 }

 button {
   background-color: #134d71;
   color: white;
   border-radius: 20px;
   border: none;
 }
